<nav>
  

  <ul id='push-left'>
    <li> <a href=""> <i class="fa fa-sign-language" aria-hidden="true"></i> </a> </li>
    <li> <a href="/list">Non profit</a> </li>
  </ul>

  <ul id='push-right'>
    <li> <a href="/organizations">Organization</a> </li>
    <li> <a href="/activities">Activity</a> </li>
    <li> <a href="/auth/login">Login</a> </li>
    <li> <a href="/auth/signup">Signup</a> </li>
  </ul>

</nav>







<!-- <a href="/auth/signup">Signup</a> -->
<!-- <a href="/auth/login">Login</a> -->
<!-- <a href="/auth/logout">Logout</a> -->
<!-- <a href="/profile">Profile</a> -->
